<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{474,320}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{474,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{468,320}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,43},{50,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,877},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>fire_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>fire_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>large_space_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,797},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>large_space_rock_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,877},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>large_space_rock_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,797},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>large_space_rock_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,877},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>large_space_rock_hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,797},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>led_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,152},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>led_on_cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,134},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>led_on_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,116},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>led_on_magenta.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,98},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>led_on_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,80},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>led_on_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,62},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{61,39}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>ship_anim_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,254},{71,39}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>ship_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,254},{71,39}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>ship_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{67,39}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>ship_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,181},{71,39}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>ship_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,104},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>small_space_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,957},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>small_space_rock_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,957},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>small_space_rock_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,957},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>small_space_rock_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,957},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>small_space_rock_hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,971},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>space_cube.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,62},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space_game_art.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6e16b0c4524829f3a3a0b36a409735$</string>
            <key>textureFileName</key>
            <string>space_game_art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
